<template>
  <div class="container">
    <div>
      <logo />
      <h1 class="title">
        sql-study-front.test
      </h1>
      <h2 class="subtitle">
        My mind-blowing Nuxt.js project
      </h2>
      <div class="links">
        <a
          href="https://nuxtjs.org/"
          target="_blank"
          class="button--green"
        >
          Documentation
        </a>
        <a
          href="https://github.com/nuxt/nuxt.js"
          target="_blank"
          class="button--grey"
        >
          GitHub
        </a>
      </div>

{{selected}}

      <v-data-table
        v-model="selected"
        :headers="headers"
        :items="books"
        :single-select="singleSelect"
        item-key="name"
        show-select
        class="elevation-1"
      >
        <template v-slot:top>
          <v-switch v-model="singleSelect" label="Single select" class="pa-3"></v-switch>
        </template>
      </v-data-table>
    </div>

  </div>
</template>
<script>
import Logo from '~/components/Logo.vue'
import axios from '~/node_modules/axios'

export default {
  components: {
    Logo
  },
  created: function(){
    console.log("created_start")
    this.getBooks()
    console.log("created_end")
  },
  methods:{
    getBooks() {
      const url = "https://calm-temple-03593.herokuapp.com/books/"
      axios.get(url)
      .then(response => {
        this.books = response.data._embedded.books
        console.log(response.data)
      })    
    }
  },
  data () {
    return {
      singleSelect: false,
      selected: [],
      headers: [
        { text: 'title', value: 'title' },
        { text: 'isbn', value: 'isbn' },
        { text: 'publicationYear', value: 'publicationYear' },
        { text: 'pubId', value: 'pubId' },
      ],
      books: [],
    }
  },
}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
